<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item>
	    <ion-label floating >Username</ion-label>
	    <ion-input type="text" #username></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating >email</ion-label>
	    <ion-input type="email" #email></ion-input>
	  </ion-item>
	</ion-list>
	<script>
		
	</script>
	<div padding>
		<button block ion-button full (click)="logIn()">Log In</button>
	</div>

	<p id="test"></p>

</ion-content>