<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>

	
<ion-content padding>
	<p>Congratulations you are successfully login, click <a href="https://instantpot.com">link</a> to instant pot home page</p>
  <div padding>
    <button block ion-button full (click)="register()">Register New User</button>
  </div>
</ion-content>